body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

body {
  width: 1000px; /* Set your desired fixed width */
  margin: 0 auto; /* Center the container horizontally */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-image: url(./images/green_power.jpg);
  background-position: center;
}
.container {
  padding: 30px;
  background-color: white;
}

.font-normal {
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}
.font-subheading {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #30d5c8;
  margin-bottom: 30px;
}
#font-header {
  text-align: center;
}
.inline-paragraphs {
  display: inline-block;
  margin-right: 20px;
}
.new {
  columns: 1;
  line-height: 25px;
  margin: 0 40px;
  margin-bottom: 50px;
}
.text-container {
  width: 100%; /* Set the width of the container */
  word-wrap: break-word; /* Allow words to break onto the next line if they don't fit */
  white-space: normal; /* Allow white space to wrap lines */
  line-height: 1.5; /* Adjust line height for better readability */
  text-align: center;
}
.text-container-middle {
  width: 200px; /* Set the width of the container */
  word-wrap: break-word; /* Allow words to break onto the next line if they don't fit */
  white-space: normal; /* Allow white space to wrap lines */
  line-height: 1.5; /* Adjust line height for better readability */
  text-align: middle;
}
.parallel-paragraphs {
  columns: 1; /* Set the number of columns */
  column-width: 200px; /* Adjust the column width as needed */
  width: 100%;
  text-align: left;
  line-height: 25px;
}

.parallel-paragraphs p {
  word-wrap: break-word; /* Allow words to break onto the next line */
}

.textBox {
  width: 800px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}
.factors {
  text-align: center;
  margin-bottom: 50px;
}
.content {
  padding: 0 30px;
  margin-bottom: 50px;
}
.globe {
  text-align: center;
  margin-bottom: 40px;
}
.pieChart {
  text-align: center;
}
.pieChartText {
  margin: 0 30px;
  margin-bottom: 40px;
}
.pieChartTxt {
  columns: 2;
  column-width: 300px;
  text-align: justify;
  line-height: 23px;
}
.lastPara {
  columns: 3;
  line-height: 20px;
  margin: 0 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: justify;
  column-gap: 20px;
}
